<h1>Conventionist</h1>

<h2>{{ 'email_address.title'|trans }}</h2>

{{ 'registration.email.body'|trans({
    "%signedUrl%": signedUrl,
    "%expiration%": expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')
})|raw }}
