{% extends 'admin/admin_minimal.html.twig' %}

{% block page_title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        {{ 'password_reset.success'|trans({
            '%path%': path('resetting_forgot_password_request'),
            '%expires_in%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'),
        })|raw }}
    </p>
    <p>
        <a href="{{ path('index') }}">
            <i class="fa fa-left-arrow"></i> 
            {{ 'link.back_home'|trans }}
        </a>
    </p>
{% endblock %}
