<h1>Conventionist</h1>

<h2>{{ 'password_reset.email.title'|trans(locale: locale) }}</h2>

{{ 'password_reset.email.body'|trans({
    "%signedUrl%": signedUrl,
    "%expiration%": expiration,
}, locale: locale)|raw }}
