<div id="map_disposition"
     style="
         width: {{ entity_instance.mapWidth }}px;
         height: {{ entity_instance.mapHeight }}px;
         background-image: url('{{ entity_instance.mapImage }}');
         max-width: 100%;
         max-height: 800px;
     "
>
</div>
