
/*
 * Nested forms
 */
.form-fieldset-body.show > .row > [class*="col"] {
    width: 100%;
}
[data-form-type-name-placeholder="__floorsname__"] .form-widget,
[data-form-type-name-placeholder="__roomsname__"] .form-widget,
[data-form-type-name-placeholder="__boothsname__"] .form-widget
{
    background-color: rgba(128, 128, 128, 0.16);
}

.main-content .content-wrapper h4.ec-event-title {
    font-size: 14px !important;
}

.admin-view-icon {
    font-size: 2rem;
    text-align: center;
}

.admin-view-icon i.fa {
    padding: 1rem;
}

/*
 * Map-related
 */
.pointer-image-container {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.pointer-image-container:hover {
    cursor: pointer;
    background: #666;
}
