{% extends '@EasyAdmin/page/login.html.twig' %}

{% set translation_domain = 'messages' %}
{% set target_path = path('admin') %}
{% set csrf_token_intention = 'authenticate' %}
{% set username_label = 'login.username_or_email' %}
{% set password_label = 'login.password' %}
{% set sign_in_label = 'login' %}
{% set username_parameter = 'username' %}
{% set password_parameter = 'password' %}
{% set forgot_password_label = 'forgot_password_text' %}
{% set forgot_password_enabled = true %}
{% set forgot_password_path = path('resetting_forgot_password_request') %}
{% set remember_me_enabled = true %}
{% set remember_me_parameter = 'custom_remember_me_param' %}
{% set remember_me_checked = true %}
{% set remember_me_label = 'login.remember_me' %}

{% block login_form_wrapper %}
    <h1 class="mb-3">
        {{ 'login'|trans }}
    </h1>

    {{ parent() }}

    <p class="mt-4">
        {{ 'no_account_register'|trans({'%path%': path('register')})|raw }}
    </p>
{% endblock %}
